

#meal{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #FFFFCC;
    box-sizing: border-box
}

#pofo {
    border-top:2px solid #666 ;
    padding-top:3%;
    text-align: center;
    width: 100%;
    padding-bottom: 100px;
}
.portfolio img {
    width: 100%;
    height: 250px;
}

.portfolio {
    position: relative;
    border: 3px solid whitesmoke;
    border-radius: 5px;
    width: 100%;
    margin-top: 5%;
}

.portfolio:hover .overlay {
    opacity: 1;
}

#pof {
    margin-top: 2% !important;
    margin: auto 20%;

}

.overlay {
    background-color: rgba(255, 89, 0, 0.6);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transition: .5s;
    opacity: 0;
}

.hover_text i {
    margin: 25% auto;
    font-size: 50PX;
    color: white;
    
}

/* Style the buttons */
.btn {
    border: none !important;
    outline: none !important;
    font-size: 30px !important;
    padding: 12px 16px !important;
    background-color: #f1f1f1;
    color:#666 !important;
     border:2px solid greenyellow !important;
     border-radius: 10px !important;
    cursor: pointer;
}

.btn:hover {
    background-color: #ddd !important;
}

.btn.active {
    background-color: #666 !important;
    color: white !important;
}

.container-pop {
    width: 80%;
    height: 95%;
    display: flex;
    margin: auto;
    padding: 1px;
    background-color: antiquewhite;
    overflow-y: scroll;
}

.no-padding {
    padding: 0 !important;
    margin: 0 !important;
}

.form {
    display: none;
    position: fixed;
    right: 15px;
    left: 15px;
    top: 30px;
    bottom: 40px;
    border-radius: 10px;
    background-color: bisque;
    opacity: 0.95;
    z-index: 3333333;
    align-items: center;
}

.container {
    margin-top: 5%;
}

.container-mini {
    margin: auto 15%;
}

.lazyload {
    
}

.product-thum {
    position: relative;
    border: 3px solid #fff;
    width: 100%;
    height: 380px;
    margin-top: 20%;
}
.product-thum img{
    width: 100%;
    height: 300px;
}
.product-thum:hover .overlay {
    opacity: 1;
}

#close-cart {
    position: absolute;
    color: tomato;
    top: 0.5cm;
    right: 0.5cm;
    font-size: 1cm;
    cursor: pointer;
}


/* slideshow */
#banner{
    margin-bottom: 100px;
}
.mySlides {
    display: none
  }
  
  .anh_slider {
    vertical-align: middle;
    height: 500px;
    background-size: cover;
    border-radius: 20px;
    
  }
  
  .slideshow-container {
    max-width: 75%;
    position: relative;
    margin: auto;
    padding-top: 100px;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
 
  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 4s;
    animation-name: fade;
    animation-duration: 4s;
    will-change: opacity;
  }
  
  @-webkit-keyframes fade {
    from {opacity: 0.4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: 0.4}
    to {opacity: 1}
  }
  
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }

  .link-active{
    text-decoration: none;
  }
  #minimenu .fa-solid {
    display: none;
    
  }
  .sub-menu{
    height:max-content;
    position: absolute;
    display: none;
    z-index: 10;
    background-color:#fff ;
    opacity: 0.7;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: -40px;
   }
   .sub-menu>li{
     padding:0 10px;
     padding-bottom: 10px;
     margin-left: -32px;
     border-bottom: 2px solid #d47400 ;
     color: black;
   }
   .noo{
    border-bottom: none;
   }
  .sub-menu>li:hover{
      color: greenyellow; 
  } 
  #minimenu:hover .sub-menu{
      display:inline-block;
  }
  @media only screen and (max-width: 700px) {
    #minimenu .fa-solid {
      display:block;
      font-size: 30px;
      color:darkslategray;
    }
    #filter{
      display: none;
    }

  }
